.StartHeader
  padding-top: 20px
  padding-bottom: 20px
  background: #607D8B
  text-align: right
  position: fixed
  width: 100%

  .registration, .login
    display: inline-block
    margin-right: 40px
    cursor: pointer
    color: #fff
