.ModalContainer
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 80

  background: rgba(0, 0, 0, 0.5)

  .modal-inner
    position: absolute
    left: 50%
    width: 70%
    margin: 70px 0
    transform: translateX(-50%)

    display: flex
    flex-flow: column nowrap
    align-items: center

    background: #F9F9F9
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10)
    border-radius: 5px