.EventView
  margin: 0

  .title
    font-size: 13px

  .expand
    font-size: 11px
    cursor: pointer

  .description
    font-size: 11px

  .cost
    font-size: 13px

  .date
    font-size: 13px

  .button-wrapper
    margin: 0