.CalendarComponent
  padding: 40px

  .title
    font-weight: bold

  .month-control
    display: flex
    align-items: center
    justify-content: space-between

    .prev
      padding: 0

    .month
      padding: 0

    .next
      padding: 0

  .table
    padding: 10px
    border: 1px solid grey
    border-collapse: collapse

    th
      padding: 20px
      border: 1px solid grey


