.EventsFlowComponent
  width: 100%
  max-width: 1060px
  position: relative
  margin-top: 40px

  .month-control
    margin-top: 20px

    display: flex
    align-items: center
    justify-content: left

    .prev
      padding: 0

    .month
      margin-left: 20px
      margin-right: 20px

    .next
      padding: 0

  .caption-not-found
    margin-top: 30px
    font-size: 18px
    text-align: center