.CitySelectModal
  padding-top: 30px
  padding-bottom: 30px

  .title
    line-height: 28px
    font-size: 18px
    color: #2C2C30
    text-align: center

  .search-wrapper
    margin-top: 20px
    width: 500px

  .button-wrapper
    margin-top: 20px
    display: flex
    justify-content: space-around