.modes
  margin-top: 50px

  .mode
    display: inline-block
    margin-right: 20px
    font-size: 16px
    text-decoration: underline
    cursor: pointer

  .mode-enabled
    background: #bcc5e5

.view
  margin-top: 20px