html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title BrainyDo
    meta(name="description" content="Some trash")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='icon' href=require('assets/images/logo.svg'))
    //script(src="https://api-maps.yandex.ru/2.1/?apikey=3ac3b264-6307-4318-b75d-38aed7d1c601&lang=ru_RU" type="text/javascript")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdBCGmHot3RdeKSMMbzugtXasNdnp4PPw&libraries=places")
  body
    #app-root
