.Header
  height: 50px
  background: #607D8B
  text-align: center
  position: fixed
  width: 100%
  display: flex
  justify-content: center
  align-items: center

  .point
    margin-right: 40px
    cursor: pointer
    color: #fff

  .point:last-child
    margin-right: 0
