.Footer
  padding-top: 20px
  padding-bottom: 20px
  border-top: 1px solid black
  text-align: center
  width: 100%

  .point
    display: inline-block
    margin-right: 40px
    cursor: pointer
    color: #fff
